@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&family=Ubuntu:ital,wght@0,500;0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}
body{
    background-color: #fdfdfd;
}
header {
    background: linear-gradient(to bottom , #3498db 50%, #2980b9 );
    box-shadow: 0px 3px 10px #0c0224;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo h1 {
    color: #fff;
    font-size: 2.4rem;
    text-shadow: 1px 1px 2px #38026b;
    cursor: default;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 400;
    
}
.nav-link:hover{
    text-decoration: underline;
    transition: 3s;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0077b6;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    header{
        column-gap: 1.3rem;
    }
    .logo h1{
        font-size: 1.7rem;
        margin-left:  0.39em;
        text-shadow: 1px 1px 2px #026b43;
        cursor: pointer;
    }
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    .icon{
        width: 60%;
    }
}